<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimpleLightbox library</title>
    <link rel="stylesheet" href="/src/css/01-gallery.css" />
  </head>
  <body>
    <p><a href="/src/partials/example.html">Go back</a></p>

    <!-- Add gallery items to this list -->
    <div class="gallery">
      <a class="gallery__link" href="/src/images/amaryllis-7769802_640.jpg"><img class="gallery__image" src="/src/images/amaryllis-7769802_640.jpg"  alt="gallery__image"></a>
      <a class="gallery__link" href="/src/images/flower-7994491_640.jpg"><img class="gallery__image" src="/src/images/flower-7994491_640.jpg"  alt="gallery__image"></a>
      <a class="gallery__link" href="/src/images/mountain-7879029_640.jpg"><img class="gallery__image" src="/src/images/mountain-7879029_640.jpg"  alt="gallery__image"></a>
      <a class="gallery__link" href="/src/images/zebra-8023066_640.jpg"><img class="gallery__image" src="/src/images/zebra-8023066_640.jpg"  alt="gallery__image"></a>
      <a class="gallery__link" href="/src/images/silver-gull-8028943_640.jpg"><img class="gallery__image" src="/src/images/silver-gull-8028943_640.jpg"  alt="gallery__image"></a>
      <a class="gallery__link" href="/src/images/south-tyrol-8023219_640.jpg"><img class="gallery__image" src="/src/images/south-tyrol-8023219_640.jpg"  alt="gallery__image"></a>
      <a class="gallery__link" href="/src/images/insect-8011258_640.jpg"><img class="gallery__image" src="/src/images/insect-8011258_640.jpg"  alt="gallery__image"></a>
      <a class="gallery__link" href="/src/images/snail-7976786_640.jpg"><img class="gallery__image" src="/src/images/snail-7976786_640.jpg"  alt="gallery__image"></a>
      <a class="gallery__link" href="/src/images/crocodile-8003179_640.jpg"><img class="gallery__image" src="/src/images/crocodile-8003179_640.jpg"  alt="gallery__image"></a>
    </div>

    <script src="/src/js/gallery.js" type="module"></script>  
  </body>
</html>